---
name: Run unit tests
on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  pytest:
    runs-on: ubuntu-latest
    # permissions:
    #   pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Print branch name
        run: echo The current branch is ${GITHUB_REF##*/}
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install pytest
        run: pip install pytest pytest-cov
      - name: Run pytest
        # yamllint disable rule:line-length
        run: |
          set -o pipefail
          PYTHONPATH=. pytest --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=luxtronik tests/ | tee pytest-coverage.txt
        # yamllint enable rule:line-length
      - name: Publish pytest coverage as comment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
